@charset "utf-8";
/* CSS DOCUMENT */

@font-face {
    font-family: GreaterCreationBold;
    src: url(fonts/GreaterCreation.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Exo2", sans-serif;
}

/*comienzo de aplicaciones*/

h1 {
    font-family: 'GreaterCreationBold', bold;
    font-size: 4rem;
    color: rgb(224, 197, 144);
}

#subtitle {
    font-family: "exo 2", sans-serif;
    font-weight: 150;
    font-size: 1.7rem;
    color: rgb(224, 197, 144);
}

h2 {
    font-size: 1.7rem;
    color: rgb(23, 42, 56);
}

h3 {
    font-weight: 500;
}

#sobremi {
    text-wrap-style: balance;
    text-align: left;
    max-width: 300px;
}

ul {
    list-style: bengali;
}

body {
    background-color: rgb(224, 197, 144);
}

header {
    text-align: center;
    background-color: rgb(23, 42, 56);
    height:100px;
}

#navheader {
    display: flex;
    justify-content: space-evenly;
}

.botones {
    color: rgb(224, 197, 144);
    text-decoration: none;
    border: solid;
    border-color: rgb(224, 197, 144);
    border-radius: 10px;
    padding: 7px;
}

nav {
    text-align: center;
    padding-top: 3rem;
}

#mainconfondo {
    text-align: center;
    background-color: rgb(23, 42, 56);
    height:98.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    font-family: "exo 2", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#ladofoto {
    padding: 2rem;
    border: solid;
    border-color: rgb(23, 42, 56);
    border-radius: 25px;
}

#datosgenerales {
    padding: 2rem;
}

footer {
    background-color: rgb(23, 42, 56);
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

#links {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footext {
    display: flex;
    flex-direction: column;
    color: rgb(224, 197, 144);
}